extends v_layout

block content
    main.ajout
        form#ajout(action="/ajout", method="post")
            legend.section_title Ajouter un livre
            label(for='titre') Titre 
            input#titre(type='text', name='titre')
            label(for='auteur') auteur 
            input#auteur(type='text', name='auteur')
            label(for='nb_pages') nombre de page 
            input#nb_page(type='number', name='nb_pages')
            label(for='date_pub') annee de publication
            input#date_publication(type='text', name='date_pub')
            label(for='genre') genre 
            input#genre(type='text', name='genre')
            label(for='synopsis') synopsis : 
            textarea#synopsis(rows="10", name='synopsis')
            input(type='submit', value='Enregistrer')
            
        a(href="/all")
            button Retour
        