extends v_layout

block content
    main.description
        h2 Détails
        h3 Titre : 
        p
            =descLivre.titre 
        h3 Auteur : 
        p 
            =descLivre.auteur
        h3 Nombre de page : 
        p 
            =descLivre.nb_pages
        h3 Date de publication : 
        p 
            =descLivre.date_pub
        h3 Genre : 
        p 
            =descLivre.genre
        h3 Synopsis : 
        p 
            =descLivre.synopsis
        
        div    
            a(href="/all")
                button OK            
            a(href='/modification/'+descLivre._id)
                button Modifier                
            form(action='/description/'+descLivre._id, method='post')
                input(type='submit', value='Supprimer')
        
