extends v_layout

block content 
    main.home
      div      
        img(src="./image/site/labonneatoutfait.jpg", alt="")
        a.decouvrir(href='/all')
          button DECOUVRIR
    div.socialBarre
      a(href="" )
        img(src="./image/site/facebook-square-brands.svg", alt="")
      a(href="")
        img(src="./image/site/twitter-square-brands.svg", alt="")
      a(href="")
        img(src="./image/site/share-alt-square-solid.svg", alt="")
