extends v_layout

block content
    main.imageLivre
        form(action="", method="post", enctype="multipart/form-data")
            input(type="file", name="pochetteLivre", accept="image/png, image/jpeg")
            input(type="submit", value="Enregistrer")
        a(href='/description/'+ livre._id)
            button Sans image