doctype html
html(lang='fr')
  head
    title La boutique du Poulpe
    link(href='/css/main.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Asap:700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(href='/js/jquery-ui/jquery-ui.min.css', rel='stylesheet')
    link(href='/js/jquery-ui/jquery-ui.structure.min.css', rel='stylesheet')
    link(href='/js/jquery-ui/jquery-ui.theme.min.css', rel='stylesheet')
    script(src='/js/jquery-3.3.1.min.js')
    script(src='/js/jquery-ui/jquery-ui.min.js')
    script(src="/js/main.js")    

  body
    header
      img(src='/image/site/whale.png', alt='')
      h1 LA BOUTIQUE DU POULPE
    footer
      p copyright Juliette CONSTANTIN 2019
    block content
