extends v_layout

block content
    main.listeComplete
        div.liste
            each livre in listeLivre
                a(href='/description/'+livre._id)
                    div
                        img(src="./image/pochette/"+livre.imagePochette, alt="", title=livre.synopsis)
                        p
                            =livre.titre
                        p
                            =livre.auteur                   
        div.boutonAjout
                            
            a(href='/ajout')
                button Ajouter
        
