extends v_layout

block content
    form#modif(action='', method='post')
        label(for='titre') titre : 
        input#titre(type='text', name='titre', value=modifLivre.titre)
        label(for='auteur') auteur: 
        input#auteur(type='text', name='auteur', value=modifLivre.auteur)
        label(for='nb_page') nombre de page : 
        input#nb_page(type='number', name='nb_page', value=modifLivre.nb_pages)
        label(for='date_publication') date de publication : 
        input#date_publication(type='text', name='date_publication', value=modifLivre.date_pub)
        label(for='genre') genre : 
        input#genre(type='text', name='genre', value=modifLivre.genre)
        label(for='synopsis') synopsis : 
        textarea#synopsis(type='text', name='synopsis')
            =modifLivre.synopsis
        input(type='submit', value='Enregistrer')