/*----------------Layout---------------------*/
*
{
    margin : 0;
    padding: 0;  
    box-sizing: border-box;
}
body
{   
    color: #fdf8f4;
    font-family: 'Asap', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url(/image/site/black-scales.png);
    background-color: black;   
}
header 
{
    display: flex;
    justify-content: space-around;
    height: 10vw;
    background-color: black;
}
h1 
{    
    align-self: center;
    font-size: 5vw;
}
header img
{   
    height: 12vw;
    align-self: center;
    filter: invert(1);
}
footer
{
    font-family: 'Raleway', sans-serif;    
    order: 99;
    height: 5vw;   
    color: #fdf8f4;
    text-align: center;
    padding-top: 20px;
    width:100%;
    background-color: black;
}

/*--------------Home----------------------*/

.home div
{    
    height: 450px;
    overflow: hidden;   
    display: flex;
    flex-direction: column;    
    align-items: center;    
}
.decouvrir
{
    width: 45%;
    height: auto;
    padding: 25px;
    position: absolute;
    margin-top: 14vw;
    filter: drop-shadow(10px 10px 15px #fdf8f4)
}
.decouvrir button
{
    width: 100%;
}
.boutonAjout
{
    display: flex;
    justify-content: center;
}
main button
{
    color: black;
    background-color: #fdf8f4;
    border: 1px solid #7e7b79;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 4px 0px #7e7b79;
    font-family: 'Raleway', sans-serif; 
    font-size: 18px;
    width: auto; 
    padding: 15px;
    margin-bottom: 15px;
    width: 100%
}
.home img
{   
    width: 100%;
    height: auto;
    filter: contrast(80%);
}
.socialBarre
{
   display: flex;
   justify-content: space-around;   
   height: 6vw; 
   margin-top: 15px;
}
.socialBarre img
{    
   width: 5vw;
   filter: invert(0.75);   
}

/* ----------------Formulaire d'ajout-------------------*/
#ajout, #modif
{
    width: 80%;       
    margin: 50px auto;
    padding: 20px;
}
legend, h2
{
    text-shadow: 0px 2px 1px rgba(211, 199, 199, 0.288);
    width: 100%;
    font-size: 22px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(238, 232, 232, 0.404);
}
input,
textarea {
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    width: 100%;
    display: block;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    color: white;
}
input[type="submit"]
{
    color: black;
    background-color: #fdf8f4;
    border: 1px solid #7e7b79;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 4px 0px #7e7b79;
    font-family: 'Raleway', sans-serif;       
}
input:hover, main button:hover
{
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
    border: 1px solid white;
    background: rgba(240, 149, 89, 0.3);
    font-weight: bold;
}
input:focus,
textarea:focus {
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
    border: 1px solid white;
    background: rgba(0,0,0,0.1);
}
label, h3
{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.2);
}

/* ----------------------Liste complète ---------------*/

.liste img
{
    width: 10vw;
    height: 15vw;
}
.liste
{
    display: flex;
    flex-wrap: wrap;  
}
.liste div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.liste a
{
    width: 30%;
    margin: 1vw auto; 
    text-decoration : none;
    color:  #fdf8f4;
    margin-top: 3vw;
    margin: 50px auto;     
}
.liste p
{
    margin-top: 5px
}
.liste img+p
{
    font-size: 20px;
}
.liste img+p+p 
{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;    
}

/* ------------- Modifications ----------------------*/

.description
{
    width: 80%;          
    margin: 50px auto;
    padding: 20px;
}
h3
{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    text-shadow: 0px 2px 1px rgba(211, 199, 199, 0.288);
}
.description p
{
    font-family: 'Raleway', sans-serif; 
    text-indent: 5%;
    padding-top: 7px;     
}
.description div
{
    padding-top: 40px;
}
/*----------------Image livre ------------------------*/
.imageLivre
{
    width: 80%;          
    margin: 50px auto;
    padding: 20px;
    min-height: 400px;
}









